:root {
    --light: #F4F4F4;
    --shadowText: 2px 2px 1px black;
}

html {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 10px;
    background: linear-gradient(to bottom, DimGray, #aaa, steelblue) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body {
    margin: 0% 10%;
    line-height: 1.4;
}

.wrapper {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 980px 30px;
    grid-template-areas:
        "nav nav nav"
        "sideMenu pad pad"
        "footer footer footer";
    align-items: stretch;
    width: 100%;
    background: #f4f4f4;
    overflow: scroll;
}

nav {
    grid-area: nav;
    width: 100%;
    background: linear-gradient(to left, darkolivegreen, rgba(10, 10, 10, 0.95)) no-repeat center center fixed;
}

.sideMenu {
    grid-area: sideMenu;
    background: #CCC;
}

.page {
    grid-area: pad;
    margin: 5px;
}

.footer {
    grid-area: footer;
    background: darkolivegreen;
    color: var(--light);
}

h1 {
    font-family: Lobster;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: var(--light);
    border: 0.5px solid #000000;
    background: darkolivegreen;
    padding: 2px;
    text-shadow: var(--shadowText);
}

h2 {
    font-family: Lobster;
    font-size: 16px;
    text-transform: uppercase;
}

img {
    float: right;
    padding: 2px;
}

p {
    font-family: 'Noto Sans', sans-serif;
    text-indent: 10px;
}

em {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}

.dutiesList {
    list-style-type: lower-alpha;
}

/* Dropdown Menu*/
.mainnav {
    margin: 0 auto
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
}

.dropdown {
    position: absolute;
    width: 150px;
    top: 29px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
}

.mainnav li {
    float: left;
    padding: 5px;
    background: maroon;
    border-left: 1px dotted #fff;
}

.mainnav li:first-child {
    border: none;
}

.mainnav li a {
    display: block;
    padding: 2px 20px;
    color: #fff;
    font-family: arial;
}

.mainnav li:hover {
    background: #fff;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
}

.mainnav li:hover a {
    color: maroon;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
}

/*First Level*/
.subs {
    left: -45px;
    position: relative;
    top: 0px;
    width: 175px;
    border-left: none !important;
    border-bottom: 1px dotted #fff !important;
}

.subs:last-child {
    border: none !important;
}

.hassubs:hover .dropdown,
.hassubs .hassubs:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
}

.mainnav li:hover ul a,
.mainnav li:hover ul li ul li a {
    color: white;
}

.mainnav li ul li:hover,
.mainnav li ul li ul li:hover {
    background: #fff;
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;
}

.mainnav li ul li:hover a,
.mainnav li ul li ul li:hover a {
    color: maroon;
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;
}

/*Second Level*/
.hassubs .hassubs .dropdown .subs {
    left: 25px;
    position: relative;
    width: 165px;
    top: 0px;
}

.hassubs .hassubs .dropdown {
    position: absolute;
    width: 150px;
    left: 120px;
    top: 0px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
}