:root{
    --primary: #a9a9a9;
    --light: #f8f8f8;
    --dark: #333;
    --shadow:  0px, 1px, 5px, rgba(50, 50, 50, 0.75); 
}
html {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 10px;
    color: var(--dark);
}

body {
    background:  linear-gradient(to bottom, DimGray, #aaa) no-repeat center center fixed;
        /*url("../img/beam_profile.svg");*/
    margin: 0% 20%;
    line-height: 1.4;
}
select {
    font-size: 8px;
}


/*
*   Main Container for screen 360 x 640 Galaxy s5
*/
.container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 50px auto  50px;
    grid-template-areas: 
        "header header header header header"
        "main-nav main-nav main-nav main-nav main-nav"
        "sideMenu content content content content"
        "footer footer footer footer footer";
    align-items: stretch;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,
        rgba(255, 255, 255, 0.5), rgba(200, 255, 200, 0.5)
    );
    
    overflow: scroll;
}

h1.header {
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    font-family: "Pacifico", cursive;
}
.main-nav {
    grid-area: main-nav;
    width: 100%;
}

/**
* Navigation
*/
.main-nav ul {
    display: grid;
    grid-gap: 2px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "h h"
        "a a";
    z-index: 1;
    box-shadow: var(--shadow);
}
.home {
    grid-area: h;
}

.about {
    grid-area: a;
}
.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: blue;
    text-transform: uppercase;
    font-size: 1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

.header {
    grid-area: header;
    background: yellowgreen;
    opacity: 0.75;
    align-items: center;
    color: var(--light);
    text-shadow: var(--shadow);
    width: 100%;
}

.main-nav {
    grid-area: main-nav;
}

.sideMenu {
    grid-area: sideMenu;
    background: var(--light);
    padding: 5px;
}

.content {
    grid-area: content;
    background: var(--light);
    width: 100%;
}

.footer {
    grid-area: footer;
    background: linear-gradient(to left, #000, #ddd, #333, #efe);
}
/*
*   Page Content grid
*/
.pageContent {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3 1fr);
    grid-template-areas:
        "beam-card beam-card beam-card"
        "graph graph graph"
        "report report report";
}
.beam-card {
    grid-area: beam-card;
    box-shadow: var(--shadow);
    width: 100%;
}
.beamProfile_display {
    width: 100%;
    height: 150px;
    background: transparent;
    border: 0.5px dotted #333;
}

.beamReport {
    width: 100%;
    height: 100%;
    stroke: #000;
    stroke-linecap: round;
    stroke-width: 2px;
    fill: #fff;
}

.report {
    grid-area: report;
    box-shadow: var(--shadow);
}
.graph {
    grid-area: graph;
    box-shadow: var(--shadow);
}
.graph_display {
    width: 100%;
    height: 150px;
    background: transparent;
    border: 0.5px dotted #333;
}
.beamReport_display {
    width: 100%;
    height: 150px;
    background: transparent;
    border: 0.5px dotted #333;
}

svg{
    background: rgba(255, 255, 250, 0.25);
    border: #ccc solid 0.25px;
    border-radius: 5px;
    shape-rendering: crispEdges;/* geometricPrecision, optimizeSpeed;*/
}
.axis path {
    display: none;
  }
  
  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
  }
/*
@media only screen and (max-width: 420px){
    .beamReport {
        width: 420px;
        height: 150px;
        fill: red;
    }
    .graph_display {
        width: 140px;
        height: 150px;
        background: #000;
    }
}

@media only screen and (min-width: 700px) {
    body {
        background: red;
    }
    .graph_display {
        width: 360px;
        height: 150px;
        background: #000;
    }
}
*/