*{
    box-sizing: border-box;
}

.container::after{
    content: "";
    clear: both;
    display: table;
}

body{
    background:  slategray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

/**
* Container for svg logo
*/
.logo{
    position: absolute;
    top: 0%;
    left: 15%;
    width: 70%;
    height: 10%;
    background: lightgreen;
}
/**
* Main wrapper
*/
.container{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.5), rgba(50, 20, 50, 0.5));
    overflow: hidden;
}
/**
* Menu Bar
*/
.menu{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 5%;
    width: 100%;
    background: slateblue;

}
/**
* Main Page
*/
.page{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: #ffffff;
    overflow: scroll;
}
/**
* Page Footer
*/
.page_footer{
    position: absolute;
    top: 95%;
    left: 0%;
    width: 100%;
    height: 10%;
    background: darkolivegreen;
}
/**
*For mobile phones
*/
[class*="col-"]{
    width: 100%;
}
@media only screen and (min-width: 600px){
    /*For Tablets*/
    .col-s-1{
        width: 8.33%;
    }
    .col-s-2{
        width: 16.33%;
    }
    .col-s-3{
        width: 25%;
    }
    .col-s-4{
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}
@media only screen and (min-width: 768px){
    /*For Desktop*/
    .col-s-1{
        width: 8.33%;
    }
    .col-s-2{
        width: 16.33%;
    }
    .col-s-3{
        width: 25%;
    }
    .col-s-4{
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}
