:root{
    --primary: #ddd;
    --light: #fff;
    --dark: #333;
    --shadow:  0px, 1px, 5px, rgba(50, 50, 50, 0.75); 
}
html {
    box-sizing: border-box;
    font-family: monospace;
    color: var(--dark);
}

body {
    background: radial-gradient(circle, rgba(10, 10, 10, 0.75), rgba(20, 20, 20, 0.75));
    margin: 30px 50px;
    line-height: 1.4;
}
/*
*   Main Container
*/
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 50px 500px 50px;
    grid-template-areas: 
        "header header header header header"
        "main-nav main-nav main-nav main-nav main-nav"
        "sideMenu content content content content"
        "footer footer footer footer footer";
    align-items: stretch;
    width: 100%;
}

h1.header {
    background: radial-gradient(circle, steelblue, slategray);
    text-align: center;
    width: 100%;
}
.main-nav {
    grid-area: main-nav;
}

/**
* Navigation
*/
.main-nav ul {
    display: grid;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(7, 1fr);
    box-shadow: var(--shadow);
}
.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

.header {
    grid-area: header;
}

.main-nav {
    grid-area: main-nav;
}

.sideMenu {
    grid-area: sideMenu;
    background: var(--light);
}

.content {
    grid-area: content;
    background: var(--light);
}

.footer {
    grid-area: footer;
    background: linear-gradient(to left, #000, #ddd, #333, #efe);
}
/*
*   Page Content grid
*/
.pageContent {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "beam-card report graph";
    align-items: stretch;
}

.beam-card {
    grid-area: beam-card;
    background: #ddd;
}
.report {
    grid-area: report;
    background: #ddd;
}
.graph {
    grid-area: graph;
    background: #ddd;
}